.header {
    background-image: url(../images/header/Background.jpg);

    background-image: image-set(
        '../images/header/background.avif' type('image/avif'),
        '../images/header/background.webp' type('image/webp'),
        '../images/header/background.jpg' type('image/jpeg'),
    );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: #f5f5f5;

    &__top {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        padding: 64px 0;
        font-weight: 300;
        margin-bottom: 100px;
    }

    &__phone {
        display: flex;
        align-items: center;
        justify-self: end;
        gap: 10px;
    }

    &__title {
        max-width: 835px;
        text-transform: uppercase;
        font-size: 85px;
        font-weight: 400;
        line-height: 1.17;
        margin-bottom: 30px;
    }

    &__text {
        max-width: 758px;
        font-size: 24px;
        line-height: 1.16;
        margin-bottom: 30px;
    }

    &__btn {
        display: inline-block;
        padding: 20px 49px;
        background-color: #f5f5f5;
        color: #2b2b2b;
        text-transform: uppercase;
        font-size: 18px;
        line-height: 1.16;
        font-weight: 300;
    }

    &__btn:hover {
        cursor: pointer;
    }
}

.menu {

    justify-self: start;

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        text-transform: uppercase;
    }

    &__btn {
        display: none;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 20px;
        position: relative;
        z-index: 10;
    }

    &__btn::after,
    &__btn::before  {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: 2px;
        background-color: #f5f5f5;
    }

    &__btn::after {
        top: 0;
    }

    &__btn::before {
        bottom: 0;
    }

    &__btn span {
        height: 2px;
        background-color: #f5f5f5;
        width: 100%;
    }
}

.logo {
    justify-self: center;
}


@media (max-width: 1300px) {
    .menu {
        &__btn {
            display: flex;
        }

        &__list {
            position: absolute;
            inset: 0;
            background-color: #171717;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transform: translateY(-100%);
            transition: transform .3s ease-in-out;
        }

        &__list.active {
            transform: translateY(0);
        }
    }
}

@media (max-width: 740px) {
    .header {
        &__top{
            padding: 40px 0;
            margin-bottom: 75px;
        }

        &__title {
            font-size: 64px;
        }
    }
}

@media (max-width: 540px) {
    .header {
        &__phone span {
            display: none;
        }

        &__phone img{
            width: 24px;
        }

        &__title {
            padding-top: 50px;
            font-size: 44px;
        }

        &__text {
            font-size: 22px;
        }

        &__top {
            margin-bottom: 20px;
        }

        &__btn {
            font-size: 15px;
            padding: 15px 30px;
        }
    }
}